/* Add specific styles for your HTML elements here */

.index1 {
  text-align: center;
  background-color: #0e0d0d;
  padding: 20px;
  height: 100vh;
}

.a-dad-joke {
  font-size: 16px;
    display: flex;
    /* background: red; */
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    color: #CCBA96;
}

.a-dad-joke img {
  width: 70px; /* Adjust the width as needed */
  height: auto; /* Maintain the aspect ratio */
  margin-right: 10px; /* Add spacing between the image and title */
}

.ellipse-parent {
  background-color: #CCBA96;
  border-radius: 40px;
  padding: 20px;
  margin-top: 20px;
  height: 548px;
  justify-content: center;
  display: grid;
  margin-top: 80px;
}

.frame-child {
  width: 100px;
  height: 100px;
  background-color: #CFC2A7;
  border-radius: 50%;
  display: inline-block;
}

.rectangle-parent {
  padding: 20px;
}

.group-child {
  background-color: #333;
  width: 100px;
  height: 2px;
  margin: 10px auto;
}

.give-me-another {
  font-size: 28px;
  margin: 20px 0;
}

button {
  background-color: #D76D3F;
  color: #fff;
  padding: 19px 60px;
  border: none;
  border-radius: 30px;
  font-family: 'Contrail One';
  font-size: 20px;
  cursor: pointer;
  margin-top: 110px;
}

.by-kevin-ngaru {
  margin-top: 20px;
  color:#fff
}

.image-2-icon {
  max-width: 100px;
  margin-top: 20px;
}

.social-media {
  text-align: center;
  margin-top: 40px; /* Adjust the margin as needed */
}
.social-media a {
  display: inline-block;
  margin: 0 10px; /* Adjust the margin as needed */
  
}

/* Add more styles as needed for your elements */
